.mui-table-view-cell .new{
    max-width: 70px;
    height: 80px;
    line-height: 80px;
}
.vive{
    font-size: 20px;
    font-weight: none;
}
.vive .f_right{
    color:#C3BDBC;
    float: right;

}
.vive .f_bottom{
    color:#FF0000;
    font-size: 10px;
}
.mui-ellipsis{
    margin: 10px 0;
}
.f_bottom{
    padding-top:5px;
}