.mui-focusin > .mui-bar-nav,
.mui-focusin > .mui-bar-header-secondary
{
    position: relative;
}


header.mui-bar{
    background-color: #9D4949;
    position: static;
}
header .mui-pull-right{
    color: #fff;
    padding-top: 12px;
}
header .mui-pull-left {
    color: #fff;
}
header.mui-bar  h1{
    font-size: 20px;
    color: #fff;
}

.mui-input-group {
	background: url("../images/base.bmp") repeat scroll top left;
	
}
.mui-input-group::after,
.mui-input-group::before {
	height: 0;
}

.mui-input-group .mui-input-row{
	background-color: #DFD9D9;
	border: 1px solid #B8B1AF;
	border-radius:4px ;
	width: 90%;
	margin: 0 auto;
}

.mui-input-group .mui-input-row{
    margin-top: 15px;
}
.mui-input-group div:nth-child(3){
	background: url("../images/base.bmp") repeat  top left;
	border: none;
}

.mui-input-group div:nth-child(3) span{
	font-size:16px ;
	line-height: 36px;
	margin-left: 52px;
}
.mui-input-group div:nth-child(3) a{
	margin-right: 18px;
	font-size:24px;
	
}
.mui-input-group div:nth-child(3) a span{
	margin-left: 5px;
	font-family: "微软雅黑";
}
.mui-input-group .mui-input-row:after{
	height: 0;
}
.mui-input-group div:last-child button{
	height: 40px;
	border: none;
	background-color: #9A082C;
}





