/*reset css  重置默认的一些样式  浏览器子自带的  目的是保持各种终端显示一致*/
/*所有的标签和伪类  before after*/
*,
::before,
::after{
    padding: 0;
    margin: 0;

    /*在移动端特殊的设置*/
    /*清除点击高亮效果*/
    -webkit-tap-highlight-color: transparent;
    /*设置所有的盒子的宽度以边框开始计算*/
    -webkit-box-sizing: border-box;
    /*要兼容 webkit 浏览器内核厂商 这种情况一般是老的移动端浏览器*/
    box-sizing: border-box;
}
body{
    font-size: 14px;
    color: #333;
    font-family: "MicroSoft YaHei","sans-serif";/*是设备默认的字体*/
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    color: #333;
}
input,textarea{
    border: none;
    outline: none;
    resize: none;
    /*特殊的属性定义  清除浏览器给input自带的样式*/
    -webkit-appearance: none;/*组件默认的样式空*/
}
/*common css  也就是我们公用的css*/
.f_left{
    float: left;
}
.f_right{
    float: right;
}
.clearfix::after,
.clearfix::before{
    content: ".";
    line-height: 0;
    height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.m_r10{
    margin-right: 10px;
}
.m_l10{
    margin-left: 10px;
}
.m_t10{
    margin-top: 10px;
}
.m_b10{
    margin-bottom: 10px;
}
